<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6"><a class="resumeItem" id="technicalSkills" href="#">Technical Skills</a></div>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6"><a class="resumeItem" id="technicalProjects" href="#">Technical Projects</a></div>
<div class="hidden-lg col-md-6 col-sm-6 col-xs-6"><br></div>
<div class="hidden-lg col-md-6 col-sm-6 col-xs-6"><br></div>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6"><a class="resumeItem" id="employmentHistory" href="#">Employment History</a></div>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6"><a class="resumeItem" id="education" href="#">Education</a></div>
<div class="hidden-lg col-md-6 col-sm-6 col-xs-6"><br></div>
<div class="hidden-lg col-md-6 col-sm-6 col-xs-6"><br></div>
