<div class="links">
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs spacing"><br></div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 spacing"><a class="resumeItem" id="technicalSkills" href="#">Skills</a></div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 spacing"><a class="resumeItem" id="technicalProjects" href="#">Projects</a></div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 spacing"><a class="resumeItem" id="employmentHistory" href="#">Employment</a></div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 spacing"><a class="resumeItem" id="education" href="#">Education</a></div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 spacing"><a class="resumeItem" id="miscellaneous" href="#">Misc.</a></div>
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs spacing"><br></div>
</div>
