<div class="resumeSection" id="education">
  <h3>Flatiron School - 2016</h3>
  <h5> Full Stack Web Development, Ruby on Rails and JavaScript online program</h5>
  <hr width="25%">

  <h3>University of Colorado, Denver - Denver, CO - 2014</h3>
  <h5> Bachelor of Arts: Public Health - Departmental Honors, Dean’s List</h5>
  <hr width="25%">

  <h3>The Art Institute of Seattle - Seattle, WA - 2008</h3>
  <h5> Associate of Applied Arts: Culinary Arts - President's List, Dean’s List</h5>
  <hr width="25%">

  <h3>Northeastern University - Boston, MA - 2 years</h3>
  <h5> Fine Arts - Photography</h5>
</div>
