<div class="resumeSection" id="miscellaneous">

  <h3>Open Source | Contributor</h3>
  <h4><a target="_blank" href="http://datafordemocracy.org/"> Data For Democracy </a> | Boulder Food Rescue </h4>
    <hr width="25%">
    <h3>Re:Coded | Mentor</h3>
    <!-- <h5>February 2017 - Present</h5> -->
    <h4>Provide guidance and support to Re:Coded student</h4>
    <a target="_blank" href="http://www.re-coded.com">http://www.re-coded.com</a>
    <hr width="25%">
  <a class="resumeImage" id="resume-image" href="#">View Resume Image</a>
</div>
