<div class="resumeSection" id="miscellaneous">
  <h3>Volunteer</h3>
  <h4>Re:Coded | Mentor</h4>
  <!-- <h5>February 2017 - Present</h5> -->
  <h5>Provide guidance and support to Re:Coded student</h5>
  <a target="_blank" href="http://www.re-coded.com">http://www.re-coded.com</a>
  <hr width="25%">
  <h4>Open Source | Contributor</h4>
  <h5> Boulder Food Rescue - Ruby on Rails | RSpec </h5>
</div>
