<h3>Languages</h3>
<h4>Ruby, HTML5/CSS, Bootstrap, SQL, JavaScript</h4>
<hr width="25%">
<h3>Libraries/Frameworks</h3>
<h4> Rails, ActiveRecord, Sinatra, AngularJS, jQuery </h4>
<hr width="25%">
<h3>Miscellaneous</h3>
 <h4>Git/Github, WordPress, Affinity Photo, Linux</h4>
