<div class="resumeSection" id="technicalSkills">
  <h3>Languages</h3>
  <h4>PHP, Ruby, JavaScript, jQuery, HTML5/CSS, Bootstrap, Sass, Psql</h4>
  <hr width="25%">
  <h3>Libraries/Frameworks</h3>
  <h4> D3.js, Rails, ActiveRecord, Sinatra, React, AngularJS, jQuery </h4>
  <hr width="25%">
  <h3>Miscellaneous</h3>
   <h4>Vim, tmux, Linux, Git/Github, Rspec, Jira, Slack, Affinity Photo</h4>
</div>
