<div class="resumeSection" id="technicalSkills">
  <h3>Languages</h3>
  <h4>PHP, JavaScript, jQuery, Ruby, HTML5/CSS, Bootstrap, Psql</h4>
  <hr width="25%">
  <h3>Libraries/Frameworks</h3>
  <h4> D3.js, Rails, ActiveRecord, Sinatra, React, AngularJS, jQuery </h4>
  <hr width="25%">
  <h3>Miscellaneous</h3>
   <h4>Git/Github, WordPress, Slack, Affinity Photo, Linux</h4>
</div>
