<div class="trailInfoDetail">
  <div class="row">
    <div class="col-lg-2">
      <%= image_tag("trailinfo1.png", :alt => "trailinfo1", :class => "project trailinfo1", :id => "trailInfo") %>
    </div>
    <div class="col-lg-4">
      <%= image_tag("trailinfo2.png", :alt => "trailinfo2", :class => "project trailinfo2", :id => "trailInfo") %>
    </div>
    <div class="col-lg-6">
      <%= image_tag("trailinfo3.png", :alt => "trailinfo3", :class => "project trailinfo3", :id => "trailInfo") %>
    </div>
  </div>
</div>
