#aboutMe {
  width: 50%;
  background: #499DC3;
  margin-left: auto;
  margin-right: auto;
}

#about-contact {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 25px;
  position: relative;
  opacity: .999;
  background: white;
  border: none;
  margin-top: 25px;
}

#about-contact:hover {
  transition: color 0.4s ease 0s;
  color: #499DC3;
  border: .5px solid #24396E;
  background: white;
}
