
.wrapper {
	height: 500px;
	max-width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	.text-center { text-align: center; }
	.radius { border-radius: 2px; }
	.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}
	.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }
	.shadowDepth1 {
	   box-shadow:
	  		0 1px 3px rgba(0,0,0, 0.12),
	    	0 1px 2px rgba(0,0,0, 0.24);
			}
	display: flex;
	flex-direction: row;
	justify-content: center;
	.card {
		background-color: #fff;
		align-self: flex-start;
		width: 25%;
		margin: 40px 20px 20px 20px;
		height: 425px;
		border: .5px solid #24396E;

	}
	.card__padding {
		padding: 1.6rem;
		border-top: .5px solid #24396E
	}
	.card__image {
		height: 225px;
		background-color: lighten(#9cc9de, 30%);

	}
	.card__image img {
		width: auto;
		max-width: 100%;
		height: 225px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		height: 110px;
	}
	.card_article {

	}
}

.click {
	padding-top: 5px;
	padding-bottom: 5px;
}

.wrapper .githubBlog {
	border-left: 40px solid white;
	border-right: 40px solid white;
}

//make divs responsive
