#employmentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  text-indent: -17px;
}

#earth {
  height: 40px;
  width: 40px;
}

#om {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

#vegetables {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

#tree {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

.resumeContent {
  width: 100%;
  background: #9cc9de;
}

.resumeText {
  width: 100%;
}

.resumeLinks {
  margin-top: 50px;
  // width: 75%;
  // text-align: center;
  // margin-left: 10%;
}

.resumeItem {
  background-color: lighten(#9cc9de, 10%);
  color: #24396E;
  padding: 8px;
  border: 1px solid #24396E;
  box-shadow: 0px 0px 4px #24396E;
  border-radius: 5px;
}

.resumeSection {
  background-color: #9cc9de;
  padding-top: 35px;
  margin-bottom: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.resumeSection h3 {
  font-size: 1.25em;
}

.resumeSection h4 {
  font-size: 1em;
}

.resumeSection h5 {
  font-size: .75em;
}

hr {
  border: 1px solid #72B2CE;
  margin-top: 30px;
  margin-bottom: 30px;
}

#columnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

#columnWrapper #column1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  text-align: left !important;
  width: 85%;
  margin-right: 20px;
  text-indent: -17px;
}

#columnWrapper #column1 #col-1 {
  width: 65%;
  margin-bottom: 5px;
}

#columnWrapper #column2 #col-2 {
  width: 85%;
  margin-bottom: 5px;
}

#columnWrapper #column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 55%;
  text-indent: -17px;
}
