.section {
  box-shadow: 0px -1px 7px black;
  margin-top: 80px;
  background-color: #499DC3;
  height: 650px;
  font-family: 'eurof35';
}

.introtext {
  font-size: 5em;
}

.content {
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

#itemCircle {
  height: 12px;
  width: 12px;
  margin-bottom: 5px;
}
