.section {
  box-shadow: 0px -1px 7px black;
  margin-top: 80px;
  background-color: #499DC3;
  height: 500px;
  font-family: 'eurof35';
}

.introtext {
  font-size: 5em;
}

.content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.resumeContent {
  width: 100%;
  background: #499DC3;
}

.resumeText {
  width: 75%;
}

.resumeLinks {
  margin-top: 50px;
  width: 100%;
}

.resumeItem {
  background-color: lighten(#499DC3, 10%);
  color: #24396E;
  padding: 8px;
  border: 1px solid #24396E;
  box-shadow: 0px 0px 4px #24396E;
  border-radius: 5px;
}

#resumeItems {
  background-color: #499DC3;
  padding-top: 70px;
  margin-bottom: 50px;
}

#resumeItems h3 {
  font-size: 1.25em;
}

#resumeItems h4 {
  font-size: 1em;
}

#resumeItems h5 {
  font-size: .75em;
}

hr {
  border: 1px solid #72B2CE;
  margin-top: 30px;
  margin-bottom: 30px;
}

#columnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

#columnWrapper #column1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  text-align: left !important;
  width: 85%;
  margin-right: 20px;
  text-indent: -17px;
}

#columnWrapper #column1 #col-1 {
  width: 65%;
  margin-bottom: 5px;
}

#columnWrapper #column2 #col-2 {
  width: 85%;
  margin-bottom: 5px;
}

#columnWrapper #column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 55%;
  text-indent: -17px;
}

#itemCircle {
  height: 12px;
  width: 12px;
  margin-bottom: 5px;
}

#earth {
  height: 40px;
  width: 40px;
}

#om {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

#vegetables {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

#tree {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

// align resume columns to the right more

#employmentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  text-indent: -17px;
}
