<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <h1 class="introtext">About Me</h1>
      <span class="btn buttonborder">
        <p>ABOUT ME</p>
      </span>
  </div>
</div>
