<div id="about">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <h1 class="introtext">About Me</h1>
        <div class="content">
          <p>As an avid problem-solver through life, I am on a never ending quest to learn.
            This is what drove me to enroll in The Flatiron School's Full Stack Web Development program and become a developer.
            With a varied background as a professional chef, artist and experience in the field of Public Health I love approaching problems with a wide encompassing perspective.
            If you are looking for a motivated team-player with creative developement skills, I would love to speak with you.
            <br />
            <br />
            <button type="button" name="button" id="about-contact">Contact</button>
           </p>
        </div>
    </div>
  </div>
</div>
