<div id="blogPage">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <h1 class="introtext">Blog</h1>
        <div class="content">
          <div class="wrapper">
        		<div class="card radius shadowDepth1">
        			<div class="card__image border-tlr-radius">
                <%= image_tag("angularjs-rails.png", :alt => "angularjs-rails", :class => "border-tlr-radius") %>
                    </div>
          			<div class="card__content card__padding">
        				<article class="card__article">
    	    				<h2 class="title"><a href="https://medium.com/@TraciThompson/http-request-to-rails-db-angular-views-b742f3eca71b#.juxqcsmhc" target="_blank">HTTP request to Rails DB & Angular Views</a></h2>
                  <h5><time>November 26, 2016</time></h5>
    	    			</article>
        			</div>
        		</div>
            <div class="card radius shadowDepth1">
        			<div class="card__image border-tlr-radius">
                <%= image_tag("click.png", :alt => "click", :class => "border-tlr-radius click") %>
                    </div>
          			<div class="card__content card__padding">
        				<article class="card__article">
    	    				<h2 class="title"><a href="https://medium.com/@TraciThompson/continuously-looping-non-sequential-arrays-on-click-with-jquery-and-ruby-on-rails-3a80d5e9abae#.ir3m00vqc" target="_blank" id="click">Continuously looping non-sequential arrays on click with jQuery and Ruby on Rails</a></h2>
                  <h5><time>November 19, 2016</time></h5>
    	    			</article>
        			</div>
        		</div>
            <div class="card radius shadowDepth1">
              <div class="card__image border-tlr-radius">
                <%= image_tag("githubBlog.gif", :alt => "githubBlog", :class => "border-tlr-radius githubBlog") %>
                    </div>
                <div class="card__content card__padding">
                <article class="card__article">
                  <h2 class="title"><a href="https://medium.com/@TraciThompson/github-workshop-9106f452fea0#.bk5zy810b" target="_blank" id="githubBlog">Github Workshop</a></h2>
                  <h5><time>September 1, 2016</time></h5>
                </article>
              </div>
            </div>
            <div class="card radius shadowDepth1">
              <div class="card__image border-tlr-radius">
                <%= image_tag("webdevelopment.png", :alt => "webdevelopment", :class => "border-tlr-radius webdevelopment") %>
                    </div>
                <div class="card__content card__padding">
                <article class="card__article">
                  <h2 class="title"><a href="https://medium.com/@TraciThompson/why-i-decided-to-learn-software-development-d8dadaa3360a#.qrad0tio9" target="_blank" id="webdevelopment">Why I decided to learn software development</a></h2>
                  <h5><time>June 26, 2016</time></h5>
                </article>
              </div>
            </div>
    	    </div>
        </div>
      </div>
    </div>
</div>
