
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <h1 class="introtext">Contact</h1>
      <div class="content">
        <p>Contact</p>
        <div class="social-media">
          <img src="/assets/linkedin-04d93507662f7c4425a17aa9e63f952d699197355f7a3cec39d6460688c89bc6.png" alt="linkedin" class="icon" id="linkedin" />
          <%= link_to(image_tag("linkedin.png", :alt => "linkedin", :class => "icon", :id => "linkedin"), "https://www.linkedin.com/in/tracihthompson") %>
          <%= image_tag("medium.png", :alt => "medium", :class => "icon", :id => "medium")%>
          <%= image_tag("twitter.png", :alt => "twitter", :class => "icon", :id => "twitter")%>
          <%= image_tag("github.png", :alt => "github", :class => "icon", :id => "github")%>
        </div>
      </div>
  </div>
</div>
