<div class="contact">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <h1 class="introtext">Contact</h1>
        <div class="content">
          <div class="contact-info">
            <span id="email"><strong>Email</strong> <a href="mailto:contact@tracihthompson.com">Contact@TracihThompson.com</a></span>
          </div>
          <!-- add in contact form -->
          <div class="social-media">
            <%= link_to(image_tag("linkedin.png", :alt => "linkedin", :class => "icon", :id => "linkedin"), "https://www.linkedin.com/in/tracihthompson", :target => "_blank") %>
            <%= link_to(image_tag("medium.png", :alt => "medium", :class => "icon", :id => "medium"), "https://medium.com/@TraciThompson", :target => "_blank") %>
            <%= link_to(image_tag("twitter.png", :alt => "twitter", :class => "icon", :id => "twitter"), "https://twitter.com/ProgramPrana", :target => "_blank") %>
            <%= link_to(image_tag("github.png", :alt => "github", :class => "icon", :id => "github"), "https://github.com/Traci7822", :target => "_blank") %>
          </div>
        </div>
    </div>
  </div>
</div>
