<div class="header">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= image_tag("headshot.jpg", :alt => "headshot") %>
    </div>
    <div class="col-lg-5">
      <h3>Traci Thompson</h3>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
