<div class="nav">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem active on" id="about" href="#about">About Me</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem" id="projects" href="#projects">Projects</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 resume"><a class="navItem" id="resume" href="#resume">Resume</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 blog"><a class="navItem" id="blog" href="#blog">Blog</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 contact"><a class="navItem" id="contact" href="#contact">Contact</a></div>
  </div>
</div>
