<div class="nav">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem active" id="about" href="#">About Me</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem" id="projects" href="#">Projects</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem" id="resume" href="#">Resume</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem" id="blog" href="#">Blog</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a class="navItem" id="contact" href="#">Contact</a></div>
  </div>
</div>
