<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <h1 class="introtext">Projects</h1>
      <div class="content">
        <br />
        <!-- <a href="#" class="trailInfo" id="trailInfo">Trail Info CLI Gem</a> -->
        <p>Coming soon...</p>
      </div>
      <div class="site-info">
        <h3 id="this-project">
          <span class="glyphicon glyphicon-check"></span>
          This website was built from scratch using Ruby on Rails, JavaScript, Bootstrap and Sass
        </h3>
      </div>
  </div>
</div>
