<div class="projectSection">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <h1 class="introtext">Projects</h1>
        <div class="content">
          <br />
          <div class="row">
            <div class="col-lg-12">
              <a href="#" class="projectItem project" id="cogcc"> COGCC Well Complaints </a>
              <hr width="25%">

            </div>
            <div class="col-lg-12">
              <a href="#" class="projectItem project" id="altFuel"> CO Alternative Fuel Stations</a>
              <hr width="25%">

            </div>

            <div class="col-lg-12">
              <a href="#" class="projectItem project" id="yogaFlow"> Yoga Flow</a>
              <hr width="25%">

            </div>
            <div class="col-lg-12">
              <a href="#" class="projectItem project" id="trailInfo"> Trail Info CLI Gem</a>
            </div>
          </div>
        </div>
        <div class="site-info">
          <h3 id="this-project">
            This website was built using Ruby on Rails, JavaScript, Bootstrap and Sass
          </h3>
        </div>
    </div>
  </div>
</div>
