<div class="resumeHeader">
  <h3>Traci Thompson</h3>
  <h4>Tracir@gmail.com | github.com/Traci7822 | TracihThompson.com</h4>
</div>

<div class="resumeLinks">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="technicalProjects" href="#">Technical Projects</a></div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="technicalSkills" href="#">Technical Skills</a></div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="employmentHistory" href="#">Employment History</a></div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="education" href="#">Education</a></div>
</div>

<div id="technicalProjects-content">
  <h4>Colorado Alternative Fuel Stations - Search and discover Colorado's alternative fuel stations</h4>
  <h5>+ Ruby on Rails used to request and parse JSON data from the Colorado Information Marketplace
  + PostgreSQL database built to store requested data
  + AngularJS front-end used to create a dynamic user experience
  + Heroku used to deploy live environment</h5>

  <h4>YogaFlow - Build yoga sequences comprised of pre-existing or self-added yoga poses</h4>
  <h5>+ Ruby on Rails used to build an interactive environment to store client input to SQL database
  + JavaScript/jQuery used to create an intuitive front-end experience
  + Bootstrap and SASS used for client-side design</h5>


  <h4>Kitch-Tips - Create and view tips for the kitchen based upon ingredients</h4>
  <h5>+ Sinatra framework with Ruby used to create an interactive experience for the user
  + SQLite database and Active Record used to store and retrieve data</h5>


  <h4>Trail Info CLI Gem - Select a state and browse the trails and specifications available</h4>
  <h5>+ Nokogiri used to scrape TrailLink.com
  + Ruby code, available on RubyGems.org</h5>
</div>

<div id="technicalSkills-content">
  <h4>Ruby, HTML5/CSS, Bootstrap, SQL, JavaScript, Rails, ActiveRecord, Sinatra, AngularJS, jQuery, Linux, Wordpress</h4>
</div>

<div id="employmentHistory-content">
  <h4>Assured Assisted Living, Castle Rock, CO</h4>
  <h4>Activities Administrator, January 2016 - June 2016</h4>
  <h5>+ Coordinated and implemented activities for 7 assisted living facilities, accommodating for an average of 80 residents
  + Served as program organizer for “Memories in the Making” which entailed attending Alzheimer’s Association workshops and initiating art therapy programs within the facilities</h5>

  <h4>DDI Vantage, Inc., Salt Lake City, UT</h4>
  <h4>Health Services Specialist, March 2015 - October 2015</h4>
  <h5>+ Oversaw health and safety for 3 childcare facilities and 100 individual children in the Early Head Start program
  + Created data systems to track and coordinate health and safety metrics for all children within the program; consistently met guidelines, deadlines and time frames established by the program’s federal grant mandated regulations</h5>


  <h4>Fine Dining, Personal, and Instructive, various locations</h4>
  <h4>Chef, 2005 - 2014</h4>
  <h5>+ Managed up to 6 staff at a time including training and oversight resulting in a more efficient and productive kitchen
  + Designed, planned, and led specialized interactive cooking classes for up to 20 students per class
  + Developed  and prepared individualized meals and meal plans for 15 clients ranging from 2-20 meals per client per week</h5>
</div>

<div id="education-content">
  <h4>Flatiron School - 2016</h4>
  <h5>+ Full Stack Web Development, Ruby on Rails and JavaScript online program</h5>


  <h4>University of Colorado, Denver - Denver, CO - 2014</h4>
  <h5>+ Bachelor of Arts: Public Health - Departmental Honors, Dean’s List</h5>


  <h4>The Art Institute of Seattle - Seattle, WA - 2008</h4>
  <h5>+ Associate of Applied Arts: Culinary Arts - President's List, Dean’s List</h5>


  <h4>Northeastern University - Boston, MA - 2 years</h4>
  <h5>+ Fine Arts - Photography</h5>
</div>
