<div class="section">

  <section id="about-content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h1 class="introtext">About Me</h1>
          <span class="btn buttonborder">
            <p>ABOUT ME</p>
          </span>
      </div>
    </div>
  </section>

  <section id="projects-content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h1 class="introtext">Projects</h1>
          <span class="btn buttonborder">
            <p>PROJECTS</p>
          </span>
      </div>
    </div>
  </section>

  <div id="resume-content">
    <p>RESUME</p>
  </div>
  <div id="blog-content">
    <p>BLOG</p>
  </div>
  <div id="contact-content">
    <p>CONTACT</p>
  </div>
</div>
